In [1]:
import pandas as pd
import numpy as np

In [17]:
with open('OLD COURSE.fbk', 'r') as inp_file:
    lines=inp_file.readlines()

with open('OLD COURSE_new.fbk', 'w') as out_file:
    for line in lines:
        if line[:2] == 'F1':
            cols = line.strip().split()
            
            if float(cols[4]) != 0:
                cols[4] = str(float(cols[4])+0.023)

            line = ' '.join(cols) + '\n'
        
        out_file.write(line)

In [18]:
with open('OC 100125.fbk', 'r') as inp_file:
    lines=inp_file.readlines()

with open('OC 100125_new.fbk', 'w') as out_file:
    for line in lines:
        if line[:2] == 'F1':
            cols = line.strip().split()
            
            if float(cols[4]) != 0:
                cols[4] = str(float(cols[4])+0.023)

            line = ' '.join(cols) + '\n'
        
        out_file.write(line)

In [19]:
with open('OC 120125.fbk', 'r') as inp_file:
    lines=inp_file.readlines()

with open('OC 120125_new.fbk', 'w') as out_file:
    for line in lines:
        if line[:2] == 'F1':
            cols = line.strip().split()
            
            if float(cols[4]) != 0:
                cols[4] = str(float(cols[4])+0.023)

            line = ' '.join(cols) + '\n'
        
        out_file.write(line)

In [64]:
list1 = np.arange(241, 270)
list1 = list1.astype('str')

list2 = np.arange(270,297)
list2 = list2.astype('str')

list2_ts_aux = np.arange(1,44)
list2_ts_aux=list2_ts_aux.astype('str')

for i in range(len(list2_ts_aux)):
    if i < 9:
        list2_ts_aux[i] = 'TS000'+str(i+1)
    else:
        list2_ts_aux[i] = 'TS00'+str(i+1)

list2=list2.tolist()
list2_ts_aux=list2_ts_aux.tolist()

list2 = list2 + list2_ts_aux
list2 += ['TS0086', 'TS0087', 'TS0500', 'TS0501', 'TS0502', 'TS0523']

list3 = np.arange(1130, 1152)
list3 = list3.astype('str')

list4 = np.arange(2000, 3117)
list4 = list4.astype('str')

final_list = []

for val in list1:
    final_list.append('"' + val + '"')

for val in list2:
    final_list.append('"' + val + '"')

for val in list3:
    final_list.append('"' + val + '"')

for val in list4:
    final_list.append('"' + val + '"')

In [66]:
with open('OC 110125.fbk', 'r') as inp_file:
    lines=inp_file.readlines()

with open('OC 110125_new.fbk', 'w') as out_file:
    for line in lines:
        if line[:2] == 'F1':
            cols = line.strip().split()
            
            if (float(cols[4]) != 0) and (cols[2] not in final_list):
                cols[4] = str(float(cols[4])+0.023)
            else:
                print(cols[2])

            line = ' '.join(cols) + '\n'
        
        out_file.write(line)

"241"
"242"
"243"
"244"
"245"
"246"
"247"
"248"
"249"
"250"
"251"
"252"
"253"
"254"
"255"
"256"
"257"
"258"
"259"
"260"
"261"
"262"
"263"
"264"
"265"
"266"
"267"
"268"
"269"
"270"
"271"
"272"
"273"
"274"
"275"
"276"
"277"
"278"
"279"
"280"
"281"
"282"
"283"
"284"
"285"
"286"
"287"
"288"
"289"
"290"
"291"
"292"
"293"
"294"
"295"
"296"
"TS0001"
"TS0002"
"TS0003"
"TS0004"
"TS0005"
"TS0006"
"TS0007"
"TS0008"
"TS0009"
"TS0010"
"TS0011"
"TS0012"
"TS0013"
"TS0014"
"TS0015"
"TS0016"
"TS0017"
"TS0018"
"TS0019"
"TS0020"
"TS0021"
"TS0022"
"TS0023"
"TS0024"
"TS0025"
"TS0026"
"TS0027"
"TS0028"
"TS0029"
"TS0030"
"TS0031"
"TS0032"
"TS0033"
"TS0034"
"TS0035"
"TS0036"
"TS0037"
"TS0038"
"TS0039"
"TS0040"
"TS0041"
"TS0042"
"TS0043"
"TS0043"
"TS0086"
"TS0087"
"TS0001"
"TS0002"
"TS0002"
"1130"
"1131"
"1132"
"1133"
"1134"
"1135"
"1136"
"1137"
"1138"
"1139"
"1140"
"1141"
"1142"
"1143"
"1144"
"1145"
"1146"
"1147"
"1148"
"1149"
"1150"
"1151"
"2000"
"2001"
"2002"
"2003"
"2004"
"2005"
"2006"
"2007"
"2008"
"2009"
"2010"
"2011"
"2012"
"2013"
"2014"
"2015"
"2016"
"2017"
"2018"
"2019"
"2020"
"2021"
"2022"
"2023"
"2024"
"2025"
"2026"
"2027"
"2028"
"2029"
"2030"
"2031"
"2032"
"2033"
"2034"
"2035"
"2036"
"2037"
"2038"
"2039"
"2040"
"2041"
"2042"
"2043"
"2044"
"2045"
"2046"
"2047"
"2048"
"2049"
"2050"
"2051"
"2052"
"2053"
"3000"
"3001"
"3002"
"3003"
"3004"
"3005"
"3006"
"3007"
"3008"
"3009"
"3010"
"3011"
"3012"
"3013"
"3014"
"3015"
"3016"
"3017"
"3018"
"3019"
"3020"
"3021"
"3022"
"3023"
"3024"
"3025"
"3026"
"3027"
"3028"
"3029"
"3030"
"3031"
"3032"
"3033"
"3034"
"3035"
"3036"
"3037"
"3038"
"3039"
"3040"
"3041"
"3042"
"3043"
"3044"
"3045"
"3046"
"3047"
"3048"
"3049"
"3050"
"3051"
"3052"
"3053"
"3054"
"3055"
"3056"
"3057"
"3058"
"3059"
"3060"
"3061"
"3062"
"3063"
"3064"
"3065"
"3066"
"3067"
"3068"
"3069"
"3070"
"3071"
"3072"
"3073"
"3074"
"3075"
"3076"
"3077"
"3078"
"3079"
"3080"
"3081"
"3082"
"3083"
"3084"
"3085"
"3086"
"3087"
"3088"
"3089"
"3090"
"3091"
"3092"
"3093"
"3094"
"3095"
"3096"
"3097"
"3098"
"3099"
"3100"
"3101"
"3102"
"3103"
"3104"
"3105"
"3106"
"3107"
"3108"
"3109"
"3110"
"3111"
"3112"
"3113"
"3114"
"3115"
"3116"

In [1]:
import pandas as pd

In [42]:
leica_df = pd.read_csv('../Downloads/OLD COURSE.txt', sep=',', header=None)
leica_df.columns=['id', 'E_leica', 'N_leica', 'Z_leica', 'comment_leica']

my_df = pd.read_csv('a.txt', header=None, sep=',')
my_df.columns=['id', 'E_my', 'N_my', 'Z_my', 'comment_my']

              id         E_my           N_my       Z_my     comment_my
0    OD15IGUAL15  1471.620781 -284847.683825  43.602739       92.16217
1    OD15IGUAL14  1471.625677 -284847.685941  43.601639       92.16310
2           OD14  1471.618138 -284847.671667  44.001197            10"
3          11016  1521.837751 -284901.366326  46.268470            10"
4          11015  1485.935748 -284884.851379  45.937201  SINALVERTICAL
..           ...          ...            ...        ...            ...
923         1003  1429.431395 -284922.849413  37.251049             MD
924         1002  1427.444165 -284927.503991  37.204860             MD
925         1001  1435.084096 -284889.929697  37.710069          FECHO
926         1000  1435.085196 -284889.927912  39.585728          FECHO
927        FECHO  1435.082686 -284889.927298  39.585404          FECHO

[928 rows x 5 columns]

In [41]:
final_df=pd.concat([leica_df, my_df])
print(final_df.head())

            id    E_leica      N_leica  Z_leica  comment_leica  E_my  N_my  \
0  OD15IGUAL15  1471.6261 -284847.6884  44.0050            NaN   NaN   NaN
1  OD15IGUAL14  1471.6255 -284847.6868  44.0022            NaN   NaN   NaN
2         OD14  1471.6178 -284847.6725  44.0018    FEVHO DO 10   NaN   NaN
3        11016  1521.8374 -284901.3671  46.2691    FEVHO DO 10   NaN   NaN
4        11015  1485.9352 -284884.8521  45.9377  SINALVERTICAL   NaN   NaN

   Z_my comment_my
0   NaN        NaN
1   NaN        NaN
2   NaN        NaN
3   NaN        NaN
4   NaN        NaN